
:root {
  --removed-body-scroll-bar-size: 0px !important;
}
html, body {
  /* For base-ui locking */
  --removed-body-scroll-bar-size: 0px !important;
}
* {
  --removed-body-scroll-bar-size: 0px !important;
}
